#app {
    display: block;
}

.bikes-list {
    width: 100%;
}

.bikes-list>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 30px 0 30px;
}

.bikes-list .bike-card {
    flex: 0 1 100%;
    margin-bottom: 20px;
    padding: 8px;
}

.bikes-list .bike-card .title {
    font-size: 16px;
    font-weight: bold;
}

.bikes-list .bike-card .photo {
    border-radius: 4px;
    width: 100%;
    height: 0;
    padding-top: 66.6667%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.bikes-list .bike-card .photo-loading {
    border-radius: 4px;
    width: 100%;
    height: 0;
    padding-top: 66.6667%;
    background-color: silver;
}

.bikes-list .bike-card .photo-preload {
    height: 0;
    width: 0;
}

.bikes-list .bike-card .price .ant-tag {
    margin-bottom: 8px;
}

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    align-items: center;
}

.header .model-search {
    width: 450px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.header .model-search .ant-select-selection {
    width: 100%;
}

.header .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .links a {
    margin-right: 20px;
}

.header .links .store-img {
    height: 32px;
}

.main-page {
    display: flex;
}

.main-page .left-panel {
    min-width: 290px;
    border-left: 1px solid #f7f7f7;
}


@media only screen and (min-width: 520px) {
    .bikes-list .bike-card {
        flex: 0 1 50%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .bikes-list .bike-card {
        flex: 0 1 33.333%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .bikes-list .bike-card {
        flex: 0 1 25%;
        margin-bottom: 20px;
    }
}
