#app {
    display: block;
    height: 100%;
}

.bikes-list {
    width: 100%;
}

.bikes-list>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 20px 0 20px;
}

.bikes-list .bike-card {
    flex: 0 1 100%;
    margin-bottom: 20px;
    padding: 8px;
}

.bikes-list .bike-card a {
    color: rgba(0,0,0,.65);
}

.bikes-list .bike-card .title {
    font-size: 16px;
    font-weight: bold;
}

.bikes-list .bike-card .photo {
    border-radius: 4px;
    width: 100%;
    height: 0;
    padding-top: 66.6667%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.bikes-list .bike-card .photo-loading {
    border-radius: 4px;
    width: 100%;
    height: 0;
    padding-top: 66.6667%;
    background-color: silver;
}

.bikes-list .bike-card .photo-preload {
    height: 0;
    width: 0;
}

.bikes-list .bike-card .price .ant-tag {
    margin-bottom: 8px;
}

.header {
    z-index: 9999;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    align-items: center;
    padding: 0 10px 0 15px;
}

.header .left {
    display: flex;
    align-items: center;
}

.header .search-container {
    display: flex;
    align-items: center;
}

.header .search-container .anticon-search {
    position: absolute;
    font-size: 24px;
    margin-left: 11px;
}

.header .model-search {
    width: 450px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.header .model-search .ant-select-selection {
    width: 100%;
    height: 48px;
    font-size: 17px;
    border: 2px solid #ecf0f1;
}

.header .model-search .ant-select-selection:hover {
    border: 2px solid #e0e3e4;
    border-right-width: 2px !important;
}

.header .model-search .ant-select-selection .ant-select-selection__rendered {
    line-height: 44px;
    font-weight: 600;
    margin-left: 40px;
}

.header .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .links a {
    margin-right: 20px;
}

.header .links .store-img {
    height: 32px;
}

.main-page {
    display: flex;
}

.main-page .left-panel {
    min-width: 290px;
    border-left: 1px solid #f7f7f7;
}

.main-page .ant-empty {
    width: 100%;
    margin-top: 50px;
}

@media only screen and (min-width: 744px) {
    .bikes-list .bike-card {
        flex: 0 1 50%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1377px) {
    .bikes-list .bike-card {
        flex: 0 1 33.333%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .bikes-list .bike-card {
        flex: 0 1 25%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .left {
        width: 100%;
    }

    .header .search-container {
        width: 100%;
    }

    .header .model-search {
        width: 100%;
        margin: 10px 10px 10px 0;
    }

    .header .links {
        justify-content: flex-start;
        margin: 0 0 10px 64px;
    }
}

.bike-page {
    display: flex;
    justify-content: center;
}

.bike-page .bike {
    padding-top: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "title title"
                         "photos attributes"
                         "photos whatsapp-button";
}

.bike-page .whatsapp-button-container {
    grid-area: whatsapp-button;
}

.bike-page .whatsapp-button {
    display: flex;
    border: 1px solid #25D366;
    border-radius: 4px;
    padding: 10px;
    background-color: #25D366;
    color: white;
    font-weight: bold;
    justify-content: center;
}

.bike-page .whatsapp-button span {
    padding-left: 10px;
    line-height: 24px;
}

.bike-page .whatsapp-button .ant-btn {
    width: 100%;
}

.bike-page .title {
    margin: 0;
}

.bike-page .photos {
    grid-area: photos;
    width: 500px;
}

.bike-page .bike-attributes {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    grid-area: attributes;
}

.bike-page .bike-attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.bike-page .bike-attributes > :first-child {
    padding-top: 0;
}

.bike-page .bike-attribute .title {
    font-weight: bold;
    grid-area: title;
}


@media only screen and (max-width: 1080px) {
    .bike-page .bike {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "photos"
                             "title"
                             "attributes"
                             "whatsapp-button";
    }
}

@media only screen and (max-width: 744px) {
    .bike-page .bike {
        padding-top: 0px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "photos"
                                 "title"
                                 "attributes"
                                 "whatsapp-button";
    }

    .bike-page .photos {
        border-radius: 0px;
        width: 100%;
    }

    .bike-page .bike>.title, .bike-page .bike-attributes {
        padding: 0 30px;
    }

    .bike-page .whatsapp-button-container {
        position: sticky;
        bottom: 0;
        background-color: white;
        border-top: 1px solid rgb(228, 228, 228);
    }

    .bike-page .whatsapp-button {
        margin: 20px 30px;
    }
}
