#app {
    display: block;
    height: 100%;
}

.ant-select-dropdown {
    z-index: 9999;
}

.bikes-list {
    width: 100%;
}

.bikes-list>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px;
}

.bikes-list .bike-card {
    flex: 0 1 100%;
    margin-bottom: 20px;
    padding: 8px;
    padding-top: 0;
}

.bikes-list .bike-card a {
    color: rgba(0,0,0,.65);
}

.bikes-list .bike-card .title {
    font-size: 16px;
    font-weight: bold;
}

.bikes-list .bike-card .photo {
    border-radius: 4px;
    width: 100%;
    height: 0;
    padding-top: 66.6667%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: flex-end;
}

.bikes-list .bike-card .photo .price {
    background-color: rgba(0,0,0,.65);
    width: max-content;
    height: max-content;
    padding: 5px;
    margin-top: -80px;
    color: white;
}

.bikes-list .bike-card .photo-loading {
    border-radius: 4px;
    width: 100%;
    height: 0;
    padding-top: 66.6667%;
    background-color: silver;
}

.bikes-list .bike-card .photo-preload {
    height: 0;
    width: 0;
}

.header {
    z-index: 9998;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px 10px 0px 30px;
}

.header .left {
    display: flex;
    align-items: center;
}

.header .search-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header .search-container .anticon-search {
    position: absolute;
    font-size: 24px;
    margin-left: 11px;
}

.header .model-search {
    width: 450px;
    display: flex;
    align-items: center;
}

.header .model-search .ant-select-selection {
    width: 100%;
    height: 48px;
    font-size: 17px;
    border: 2px solid #ecf0f1;
}

.header .model-search .ant-select-selection:hover {
    border: 2px solid #e0e3e4;
    border-right-width: 2px !important;
}

.header .model-search .ant-select-selection .ant-select-selection__rendered {
    line-height: 44px;
    font-weight: 600;
    margin-left: 40px;
}

.header .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .links a {
    margin-right: 20px;
}

.header .links .store-img {
    height: 32px;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.main-page .top-buttons {
    background-color: white;
    position: sticky;
    padding: 20px 30px;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.left-panel .ant-collapse-header {
    font-weight: bold;
    user-select: none;
}

.left-panel .ant-collapse-borderless>.ant-collapse-item {
    border: none;
}

.left-panel .bottom {
    display: flex;
    width: 380px;
    padding: 20px;
    position: fixed;
    bottom: 0;
}

.left-panel .bottom>.ant-btn {
    width: 100%;
}

.left-panel .price-filters .price-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.left-panel .price-filters .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.left-panel .price-filters .price-inputs .ant-input-number {
    flex: 1;
}

.left-panel .price-filters .price-inputs .separetor {
    line-height: 32px;
    font-weight: bold;
    margin: 0 5px;
}

.ant-empty {
    width: 100%;
    margin-top: 50px;
}

.whatsapp-bikes-page>.title {
    display: flex;
    align-items: center;
    margin: 30px;
}

.whatsapp-bikes-page .title .whatsapp-button {
    margin-left: 10px;
}

.whatsapp-bikes-page .title h1 {
    margin: 0;
}

@media only screen and (min-width: 744px) {
    .bikes-list .bike-card {
        flex: 0 1 50%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1377px) {
    .bikes-list .bike-card {
        flex: 0 1 33.333%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .bikes-list .bike-card {
        flex: 0 1 25%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .left {
        width: 100%;
    }

    .header .left .logo {
        padding-bottom: 10px;
    }

    .header .search-container {
        width: 100%;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .header .model-search {
        width: 100%;
    }

    .header .links {
        justify-content: flex-start;
        margin: 0 0 10px 64px;
    }
}

.bike-page {
    display: flex;
    justify-content: center;
}

.image-gallery {
    width: 100%;
    height: auto;
}

.image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh;
    object-fit: contain;
}

.bike-page .bike {
    padding-top: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "title title"
                         "photos attributes"
                         "photos whatsapp-button";
}

.bike-page .buttons {
    grid-area: whatsapp-button;
    text-align: center;
}

.bike-page .buttons>.ant-btn {
    margin-bottom: 10px;
    height: 46px;
    display: flex;
    justify-content: center;
}

.bike-page .buttons>.ant-btn>span {
    line-height: 46px;
}

.whatsapp-button-container .whatsapp-button {
    display: flex;
    border: 1px solid #25D366;
    border-radius: 4px;
    padding: 10px;
    background-color: #25D366;
    color: white;
    font-weight: bold;
    justify-content: center;
}

.whatsapp-button-container .whatsapp-button span {
    padding-left: 10px;
    line-height: 24px;
}

.whatsapp-button-container .whatsapp-button .ant-btn {
    width: 100%;
}

.bike-page .title {
    margin: 0;
}

.bike-page .photos {
    grid-area: photos;
    width: 500px;
}

.bike-page .bike-attributes {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    grid-area: attributes;
}

.bike-page .bike-attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.bike-page .bike-attributes > :first-child {
    padding-top: 0;
}

.bike-page .bike-attribute .title {
    font-weight: bold;
    grid-area: title;
}


@media only screen and (max-width: 1080px) {
    .bike-page .bike {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "photos"
                             "title"
                             "attributes"
                             "whatsapp-button";
    }
}

@media only screen and (max-width: 744px) {
    .bike-page .bike {
        padding-top: 0px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "photos"
                                 "title"
                                 "attributes"
                                 "whatsapp-button";
    }

    .bike-page .photos {
        border-radius: 0px;
        width: 100%;
    }

    .bike-page .bike>.title, .bike-page .bike-attributes {
        padding: 0 30px;
    }

    .bike-page .buttons>.ant-btn {
        margin: 0 30px 20px 30px;
    }

    .bike-page .whatsapp-button-container {
        position: sticky;
        bottom: 0;
        background-color: white;
        border-top: 1px solid rgb(228, 228, 228);
    }

    .bike-page .whatsapp-button-container {
        padding: 20px 30px;
    }
}

.ant-drawer-body {
    padding: 10px;
    padding-top: 20px;
}
